.HRCPage {
color: Black;
font: 10pt Calibri, Tahoma, Arial;
}
.HRCHeading {
font: bold 11pt Calibri, Tahoma, Arial;
}
.HRCTextHighlight {
font-style: italic;
font-weight: bold;
border-bottom: 1px dotted Black;
}
.HRCLink {
color: #ffffff;
}
.HRCLink:hover {
text-decoration: none;
color: Gray;
}
.HRCGroup {
border: 1px solid #b1b7d5;
padding: 4px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.HRCGroupLabel {
}
.HRCUILock {
background-color: #232222;
border: 1px solid Black;
opacity: .25;
filter: alpha(opacity: 25);
}
.HRCEdit {
background: repeat-x top;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #b1b7d5;
padding: 3px;
vertical-align: middle;
border-radius: 2px;
box-sizing: border-box;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
outline: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.HRCEditError {
color: #fe0000;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAMElEQVR42mP8f/gwAwMDg7g4AwMDw8uXcDYTVlGGly+ZsIrCdGCIMoiLM2EVpa4dAANiIMNLsv32AAAAAElFTkSuQmCC') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #fe0000;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCEditWatermark {
color: Gray;
font-style: italic;
}
.HRCEditBG {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAIAAADAusJtAAAAEklEQVR42mN49+4zEwwwMzMBACf+AuqZuN6uAAAAAElFTkSuQmCC') repeat-x top #fbfbfd;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #b1b7d5;
padding: 0px;
vertical-align: middle;
border-radius: 2px;
box-sizing: border-box;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.HRCEditBGError {
color: #fe0000;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAMElEQVR42mP8f/gwAwMDg7g4AwMDw8uXcDYTVlGGly+ZsIrCdGCIMoiLM2EVpa4dAANiIMNLsv32AAAAAElFTkSuQmCC') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #fe0000;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCEditBGEdit {
background: repeat-x top transparent;
font: 10pt Calibri, Tahoma, Arial;
border: 1px none #b1b7d5;
padding: 3px;
margin: 0px;
outline: none;
}
.HRCEditBGError .HRCEditBGEdit {
color: #fe0000;
}
.HRCEditBGEditWatermark {
color: Gray;
font-style: italic;
}
.HRCEditBGSeparator {
background-color: transparent;
font: 0pt arial;
padding: 0px;
width: 1px;
}
.HRCEditBGHover .HRCEditBGSeparator, .HRCEditBGFocus .HRCEditBGSeparator {
background-color: #b1b7d5;
}
.HRCEditBGButton {
padding: 1px 2px;
}
.HRCEditBGHover .HRCEditBGButton, .HRCEditBGFocus .HRCEditBGButton {
color: #222842;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42n3KIQ4AMAzDwCj//+rGSuOCVSobMjjr3HKCgakcMOEVrYPJ+P9viiw8rqKktBQAAAAASUVORK5CYII=') repeat-x top #cdd1e5;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid White;
padding: 0px 1px;
border-radius: 1px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
}
.HRCEditBGHover .HRCEditBGButtonHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALklEQVR42l3JwQkAIQDEwGX7b1SwhUt8KCf4nCRjfgULKaaQanY7xtT/+/h2rxem5jCzrGpM6AAAAABJRU5ErkJggg==') repeat-x top #c2cbfa;
}
.HRCEditBGHover .HRCEditBGButtonPressed, .HRCEditBGFocus .HRCEditBGButtonPressed {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALUlEQVR42l2KsQ0AIACDCv+f5uAPPuJgTYwbATLmEiKgIFKOWFd/ON93W95vA+nVAvPAzDJmAAAAAElFTkSuQmCC') repeat-x top #eaecf5;
}
.HRCButton {
color: #ffffff;
background: repeat-y top #3146af;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #b5bad7;
padding-top: 4px;
padding-bottom: 4px;
vertical-align: middle;
border-radius: 4px;
box-sizing: border-box;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.HRCButtonT {
color: #222842;
background-color: transparent;
font: 10pt Calibri, Tahoma, Arial;
border-style: none;
padding: 3px 5px;
vertical-align: middle;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.HRCButtonHover, .HRCButtonTHover {
color: Black;
background: repeat-x top #eff1f5;
border: 1px solid #b5bad7;
padding-top: 4px;
padding-bottom: 4px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.HRCButtonPressed, .HRCButtonTPressed {
color: #ffffff;
background: no-repeat top #6f8ec7;
border: 1px solid #b5bad7;
margin-top: 1px;
margin-right: 1px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.HRCButtonDisabled, .HRCButtonTDisabled, .HRCButton[disabled], .HRCButtonT[disabled] {
color: #6470ad;
background: repeat center #eaebef;
border: 1px solid #b5bad7;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.HRCButtonDD {
color: #222842;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42n3KIQ4AMAzDwCj//+rGSuOCVSobMjjr3HKCgakcMOEVrYPJ+P9viiw8rqKktBQAAAAASUVORK5CYII=') repeat-x top #cdd1e5;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #b5bad7;
padding: 0px;
vertical-align: middle;
border-radius: 4px;
box-sizing: border-box;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.HRCButtonTDD {
color: #222842;
background-color: transparent;
font: 10pt Calibri, Tahoma, Arial;
border-style: none;
padding: 1px;
vertical-align: middle;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.HRCButtonDDHover, .HRCButtonTDDHover {
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALklEQVR42l3JwQkAIQDEwGX7b1SwhUt8KCf4nCRjfgULKaaQanY7xtT/+/h2rxem5jCzrGpM6AAAAABJRU5ErkJggg==') repeat-x top #c2cbfa;
border: 1px solid #4d68f2;
padding: 0px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.HRCButtonDDPressed, .HRCButtonTDDPressed {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALUlEQVR42l2KsQ0AIACDCv+f5uAPPuJgTYwbATLmEiKgIFKOWFd/ON93W95vA+nVAvPAzDJmAAAAAElFTkSuQmCC') repeat-x top #eaecf5;
border: 1px solid #7b85bb;
padding: 0px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.HRCButtonDDDisabled, .HRCButtonTDDDisabled {
color: #6470ad;
}
.HRCButtonDDContent, .HRCButtonDDSplitContent, .HRCButtonTDDContent, .HRCButtonTDDSplitContent {
padding: 2px 4px;
cursor: default;
}
.HRCButtonDDDropdown, .HRCButtonDDSplitDropdown, .HRCButtonTDDDropdown, .HRCButtonTDDSplitDropdown {
padding: 2px;
cursor: default;
}
.HRCButtonDDHover .HRCButtonDDSplitContent, .HRCButtonTDDHover .HRCButtonTDDSplitContent {
border-right: 1px solid White;
padding-right: 3px;
}
.HRCButtonDDPressed .HRCButtonDDSplitContent, .HRCButtonTDDPressed .HRCButtonTDDSplitContent {
border-right: 1px solid #f0f2f8;
padding-right: 3px;
}
.HRCButtonDDHover .HRCButtonDDSplitDropdown, .HRCButtonTDDHover .HRCButtonTDDSplitDropdown {
border-left: 1px solid #8c9ef6;
padding-left: 1px;
}
.HRCButtonDDPressed .HRCButtonDDSplitDropdown, .HRCButtonTDDPressed .HRCButtonTDDSplitDropdown {
border-left: 1px solid #b5bad7;
padding-left: 1px;
}
.HRCButtonDDHover .HRCButtonDDSplitDropdownHover, .HRCButtonTDDHover .HRCButtonTDDSplitDropdownHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAIAAAD6sKMdAAAAH0lEQVR42mP49+8f0+8//5n+/GFAohmY/vz9D6Eh4gAB/Ri9iTwVGgAAAABJRU5ErkJggg==') repeat-x top #d1d8fb;
border-left: 1px solid #4d68f2;
padding: 2px;
padding-left: 1px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
}
.HRCSliderH {
padding: 6px;
}
.HRCSliderHInner {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAIAAADAusJtAAAAEklEQVR42mN49+4zEwwwMzMBACf+AuqZuN6uAAAAAElFTkSuQmCC') repeat-x top #fbfbfd;
font: 0pt arial;
border: 1px solid #b1b7d5;
height: 6px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.HRCSliderHHandle {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAHUlEQVR42mP49OkT079//5j+//+PHaPJ/SMgD8UARhBBuoeiSVgAAAAASUVORK5CYII=') repeat-x top;
font-size: 0pt;
border: 1px solid #b5bad7;
margin-top: -6px;
margin-left: -6px;
width: 16px;
height: 16px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.HRCSliderHRange {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAHUlEQVR42mP49OkT079//5j+//+PHaPJ/SMgD8UARhBBuoeiSVgAAAAASUVORK5CYII=') repeat-x top;
font-size: 0pt;
border: 1px solid #b1b7d5;
margin: -1px;
height: 6px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.HRCSliderHHandleHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALklEQVR42l3JwQkAIQDEwGX7b1SwhUt8KCf4nCRjfgULKaaQanY7xtT/+/h2rxem5jCzrGpM6AAAAABJRU5ErkJggg==') repeat-x top #c2cbfa;
border-color: #9aa9f7;
}
.HRCSliderHHandleSelected {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKElEQVR42mN48uIv099//5n+/WNA4P8MTP+wijEg1P5nQJX/9x9ZDACh4TCeGKQe2gAAAABJRU5ErkJggg==') repeat-x top #b6c1fa;
border-color: #4d68f2;
}
.HRCSliderHRangeHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALklEQVR42l3JwQkAIQDEwGX7b1SwhUt8KCf4nCRjfgULKaaQanY7xtT/+/h2rxem5jCzrGpM6AAAAABJRU5ErkJggg==') repeat-x top #c2cbfa;
border-color: #9aa9f7;
}
.HRCSliderHRangeSelected {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKElEQVR42mN48uIv099//5n+/WNA4P8MTP+wijEg1P5nQJX/9x9ZDACh4TCeGKQe2gAAAABJRU5ErkJggg==') repeat-x top #b6c1fa;
border-color: #4d68f2;
}
.HRCList {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAIAAADAusJtAAAAEklEQVR42mN49+4zEwwwMzMBACf+AuqZuN6uAAAAAElFTkSuQmCC') repeat-x top #fbfbfd;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #b1b7d5;
padding: 0px;
overflow: auto;
border-radius: 2px;
box-sizing: border-box;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.HRCListItem {
text-decoration: none;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.HRCListItemHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKklEQVR42mP4/OUv079//5n+/Wdg+vePgek/lEbhI4n9R1L77z8O9f8YAGO7LsmEeo7LAAAAAElFTkSuQmCC') repeat-x top #cdd5fb;
border: 1px solid #9aa9f7;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCListItemSelected {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKElEQVR42mN48uIv099//5n+/WNA4P8MTP+wijEg1P5nQJX/9x9ZDACh4TCeGKQe2gAAAABJRU5ErkJggg==') repeat-x top #b6c1fa;
border: 1px solid #9aa9f7;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCListTitle {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px none #ccd0e4;
border-top-style: solid;
border-bottom-style: solid;
padding: 2px 4px;
}
.HRCListSeparator {
border: 1px none #ccd0e4;
border-top-style: solid;
margin: 0px;
}
.HRCTree {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAIAAADAusJtAAAAEklEQVR42mN49+4zEwwwMzMBACf+AuqZuN6uAAAAAElFTkSuQmCC') repeat-x top #fbfbfd;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #b1b7d5;
padding: 2px;
overflow: auto;
border-radius: 2px;
box-sizing: border-box;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.HRCTreeNode {
text-decoration: none;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.HRCTreeNodeHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKklEQVR42mP4/OUv079//5n+/Wdg+vePgek/lEbhI4n9R1L77z8O9f8YAGO7LsmEeo7LAAAAAElFTkSuQmCC') repeat-x top #cdd5fb;
border: 1px solid #9aa9f7;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCTreeNodeSelected {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKElEQVR42mN48uIv099//5n+/WNA4P8MTP+wijEg1P5nQJX/9x9ZDACh4TCeGKQe2gAAAABJRU5ErkJggg==') repeat-x top #b6c1fa;
border: 1px solid #9aa9f7;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCTreeNodeLabel {
text-decoration: none;
color: Black;
cursor: default;
outline: none;
}
.HRCDP {
color: Black;
background-color: White;
border: 1px solid #b1b7d5;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCDPHeader {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px none #b1b7d5;
border-bottom-style: solid;
padding: 2px 4px;
}
.HRCDPHeaderButton {
text-decoration: none;
color: #4c4c4c;
padding: 2px 4px;
margin: 1px;
display: inline-block;
cursor: default;
outline: none;
}
.HRCDPHeaderButtonHover {
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALklEQVR42l3JwQkAIQDEwGX7b1SwhUt8KCf4nCRjfgULKaaQanY7xtT/+/h2rxem5jCzrGpM6AAAAABJRU5ErkJggg==') repeat-x top #c2cbfa;
border: 1px solid #4d68f2;
padding: 1px 3px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.HRCDPHeaderButtonSelected {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALUlEQVR42l2KsQ0AIACDCv+f5uAPPuJgTYwbATLmEiKgIFKOWFd/ON93W95vA+nVAvPAzDJmAAAAAElFTkSuQmCC') repeat-x top #eaecf5;
border: 1px solid #7b85bb;
padding: 1px 3px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.HRCDPItem {
text-align: center;
text-decoration: none;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.HRCDPItemHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKklEQVR42mP4/OUv079//5n+/Wdg+vePgek/lEbhI4n9R1L77z8O9f8YAGO7LsmEeo7LAAAAAElFTkSuQmCC') repeat-x top #cdd5fb;
border: 1px solid #9aa9f7;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCDPItemSelected {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKElEQVR42mN48uIv099//5n+/WNA4P8MTP+wijEg1P5nQJX/9x9ZDACh4TCeGKQe2gAAAABJRU5ErkJggg==') repeat-x top #b6c1fa;
border: 1px solid #9aa9f7;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCDPItemOutOfRange {
color: #595959;
}
.HRCDPItemDisabled {
color: #b2b2b2;
}
.HRCDPPanel {
background-color: #fbfbfd;
padding: 2px;
}
.HRCDPDaysOfWeek {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAFCAIAAAAL5hHIAAAAHElEQVR42mM4e+kFEwszIxMLCxMTKwsTEwsLEwAu+wK30i8HVwAAAABJRU5ErkJggg==') repeat-x top #e2e5f1;
border: 1px none #b1b7d5;
border-bottom-style: solid;
padding: 2px 4px;
}
.HRCDPWeeksOfYear {
background-color: #e2e5f1;
border-right: 1px solid #b1b7d5;
}
.HRCDPWeeksOfYearHeader {
border-bottom-style: none;
}
.HRCDPDate {
background-color: #fbfbfd;
padding: 2px;
}
.HRCDPDateWeekend {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAMUlEQVR42mP8/OUHAwPDt++/GRgYuDhZ4WwmrKJcnKxMWEWhOjBFv33/zYRVlLp2AADuFDLXkdUf3AAAAABJRU5ErkJggg==') repeat center #e9ebf4;
padding: 2px;
}
.HRCDPDateToday {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAMUlEQVR42mN89uITAwPD12+/GRgYuLlY4WwmrKLcXKxMWEWhOjBFv377zYRVlLp2AADUhjK2y/imbQAAAABJRU5ErkJggg==') repeat center #dbdeee;
padding: 2px;
}
.HRCTP .HRCEdit {
text-align: center;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAIAAADAusJtAAAAEklEQVR42mN49+4zEwwwMzMBACf+AuqZuN6uAAAAAElFTkSuQmCC') repeat-x top #fbfbfd;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #b1b7d5;
border-bottom-style: none;
padding: 3px;
margin: 0px;
border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
}
.HRCTPEditButton {
text-align: center;
text-decoration: none;
background-color: #f9f9f9;
border: 1px solid #b1b7d5;
border-top-style: none;
padding: 2px;
display: block;
border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
outline: none;
}
.HRCTPEditButton:hover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAIAAAC3eAIWAAAAGUlEQVR42mN4+eYv0+8//5l+/2Fg+oNJAwBQ7xShu7m4nAAAAABJRU5ErkJggg==') repeat-x top #c2cbfa;
border-top-style: solid;
padding-top: 1px;
}
.HRCTPMeridianButton {
text-decoration: none;
color: #222842;
padding: 2px 3px;
margin-left: 2px;
vertical-align: middle;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
outline: none;
}
.HRCTPMeridianButton:hover {
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALklEQVR42l3JwQkAIQDEwGX7b1SwhUt8KCf4nCRjfgULKaaQanY7xtT/+/h2rxem5jCzrGpM6AAAAABJRU5ErkJggg==') repeat-x top #c2cbfa;
border: 1px solid #4d68f2;
padding: 1px 2px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.HRCGrid {
color: Black;
background-color: White;
border: 1px #b1b7d5;
border-top-style: solid;
border-bottom-style: solid;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCGridHeader {
text-align: left;
color: #ffffff;
background: repeat-x top #3146af;
border: 1px none #b1b7d5;
border-bottom-style: solid;
padding: 4px 2px;
}
.HRCGridFooter {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAIAAADAusJtAAAAGElEQVR42mM4df4JExsbMxM7GzMTOxsLACQeArQ0E3G1AAAAAElFTkSuQmCC') repeat-x top #e3e6f1;
border: 1px none #b1b7d5;
border-top-style: solid;
padding: 4px 6px;
}
.HRCGridSummaryLabel {
color: Gray;
background-color: #fbfbfd;
padding: 2px;
}
.HRCGridSummaryData {
background-color: #fbfbfd;
padding: 2px;
}
.HRCGridQBE {
background-color: #eceef6;
}
.HRCGridSeparator {
background-color: White;
font-size: 0px;
border-bottom: 1px solid #d1d5e7;
padding: 0px;
height: 1px;
}
.HRCGridRowHeader {
font: 8pt Arial;
}
.HRCGridDataHeader {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAK0lEQVR42m3KsQkAIADEwOP3n1iEt1C0sUvgjDHTNq1gN1Hp+dfCttf8PAua7CL7uYp1ZQAAAABJRU5ErkJggg==') repeat-x top #eceef6;
border: 1px solid #b1b7d5;
border-left-style: none;
border-right-style: none;
padding: 4px 6px;
}
.HRCGridData {
padding: 2px;
}
.HRCGridDataAlt {
background-color: #f0f2f8;
padding: 2px;
}
.HRCGridRowHover .HRCGridDataAlt, .HRCGridRowHover .HRCGridData {
background: repeat-x top #fdfae7;
padding: 2px;
}
.HRCGridRowSelected .HRCGridDataAlt, .HRCGridRowSelected .HRCGridData {
background: repeat-x center #fdfae7;
border-width: 0px;
padding: 2px;
}
.HRCGridDataError {
color: #fe0000;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAMElEQVR42mP8f/gwAwMDg7g4AwMDw8uXcDYTVlGGly+ZsIrCdGCIMoiLM2EVpa4dAANiIMNLsv32AAAAAElFTkSuQmCC') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
}
.HRCGridHeader .HRCLink {
text-decoration: none;
}
.HRCGridHeader .HRCLink:hover {
text-decoration: underline;
color: #242a46;
}
.HRCGridForm {
}
.HRCGridFormLabel {
padding: 2px;
}
.HRCGridFormData {
padding: 2px;
}
.HRCGridFormDataError {
color: #fe0000;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAMElEQVR42mP8f/gwAwMDg7g4AwMDw8uXcDYTVlGGly+ZsIrCdGCIMoiLM2EVpa4dAANiIMNLsv32AAAAAElFTkSuQmCC') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
}
.HRCDialogLabel {
padding: 2px;
}
.HRCDialogRSHeader {
}
.HRCDialogRSFooter {
text-align: right;
border-top: 1px dotted #b1b7d5;
padding-top: 2px;
}
.HRCDialogRSRow {
padding: 3px;
}
.HRCDialogRSRowSelected {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAHUlEQVR42mP49+8f0///DBDMAKEZkNgwcQbS1AAAVZMiBvda1WQAAAAASUVORK5CYII=') repeat-x top #eceffe;
border: 1px solid #c2cbfa;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.HRCDialogRSRowHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAJklEQVR42mP49+8f0///DEwMDAwImoGBieE/lEZjo6vBpv7/fwYAEroVE2nHaXEAAAAASUVORK5CYII=') repeat-x top #f4f6fe;
border: 1px solid #c2cbfa;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.HRCDialogRSRowError {
color: #fe0000;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAMElEQVR42mP8f/gwAwMDg7g4AwMDw8uXcDYTVlGGly+ZsIrCdGCIMoiLM2EVpa4dAANiIMNLsv32AAAAAElFTkSuQmCC') repeat center #ffdada;
border: 1px solid #fe0000;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.HRCDialogRSSeparator {
border-top: 1px dotted #b1b7d5;
margin-top: 5px;
line-height: 5px;
}
.HRCMenu {
color: Black;
background-color: #eceef6;
border: 1px solid #8892c1;
border-radius: 3px;
box-shadow: 3px 3px 6px #aaa;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-moz-box-shadow: 3px 3px 6px #aaa;
-webkit-box-shadow: 3px 3px 6px #aaa;
}
.HRCMenuInner {
border: 1px solid White;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCMenuIconColumn {
background: url('MenuIconColBack.png') repeat-y left;
}
.HRCMenuNoIndent {
background-color: #eceef6;
}
.HRCMenuItem {
text-decoration: none;
white-space: nowrap;
color: Black;
padding: 2px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.HRCMenuItemHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKklEQVR42mP4/OUv079//5n+/Wdg+vePgek/lEbhI4n9R1L77z8O9f8YAGO7LsmEeo7LAAAAAElFTkSuQmCC') repeat-x top #cdd5fb;
border: 1px solid #9aa9f7;
padding: 1px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCMenuItemSelected {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKElEQVR42mN48uIv099//5n+/WNA4P8MTP+wijEg1P5nQJX/9x9ZDACh4TCeGKQe2gAAAABJRU5ErkJggg==') repeat-x top #b6c1fa;
border: 1px solid #9aa9f7;
padding: 1px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCMenuItemDisabled {
color: #8c8c8c;
}
.HRCMenuItemDisabledHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAGUlEQVR42mP49v0X07///5n+/2dg+k89GgC0njfcqx1FkwAAAABJRU5ErkJggg==') repeat-x top #dfe2ef;
border: 1px solid #bac0dc;
padding: 1px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCMenuItem .HRCMenuItemCascade {
background: url('MenuCascade.png') no-repeat right;
padding-right: 18px;
}
.HRCMenuItemDisabled .HRCMenuItemCascade {
background: url('MenuCascadeDisabled.png') no-repeat right;
}
.HRCMenuSeparator {
font-size: 0px;
border-style: none;
border-top: 1px solid #ccd0e4;
border-bottom: 1px solid White;
padding: 0px;
}
.HRCMenuTitle {
color: Gray;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAJklEQVR42mN49+EH0////5n+/2dg+s/wn4nhPwNB9v//DBA+bjYATnon3M7YK8IAAAAASUVORK5CYII=') repeat-x top #dee1f0;
border: 1px none #ccd0e4;
border-top-style: solid;
border-bottom-style: solid;
padding: 1px 3px;
}
.HRCMenuItemHover .HRCMenuItemCascade {
background: url('MenuCascadeHover.png') no-repeat right;
}
.HRCMenubarHItem {
text-decoration: none;
white-space: nowrap;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.HRCMenubarHItemHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKklEQVR42mP4/OUv079//5n+/Wdg+vePgek/lEbhI4n9R1L77z8O9f8YAGO7LsmEeo7LAAAAAElFTkSuQmCC') repeat-x top #cdd5fb;
border: 1px solid #9aa9f7;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCMenubarHItemPressed {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKElEQVR42mN48uIv099//5n+/WNA4P8MTP+wijEg1P5nQJX/9x9ZDACh4TCeGKQe2gAAAABJRU5ErkJggg==') repeat-x top #b6c1fa;
border: 1px solid #9aa9f7;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCMenubarHItemDisabled {
color: #8c8c8c;
}
.HRCMenubarHSeparator {
font-size: 0px;
border-style: none;
border-left: 1px solid #ccd0e4;
border-right: 1px solid White;
padding: 0px;
vertical-align: middle;
height: 10pt;
}
.HRCMenubarHItemCascade {
background: url('MenubarHCascade.png') no-repeat right;
padding-right: 12px;
}
.HRCMenubarHItemHover .HRCMenubarHItemCascade {
background-image: url('MenubarHCascadeHover.png');
}
.HRCMenubarHItemPressed .HRCMenubarHItemCascade {
background-image: url('MenubarHCascadePressed.png');
}
.HRCMenubarHItemDisabled .HRCMenubarHItemCascade {
background-image: url('MenubarHCascadeDisabled.png');
}
.HRCMenubarVItem {
text-decoration: none;
white-space: nowrap;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.HRCMenubarVItemHover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKklEQVR42mP4/OUv079//5n+/Wdg+vePgek/lEbhI4n9R1L77z8O9f8YAGO7LsmEeo7LAAAAAElFTkSuQmCC') repeat-x top #cdd5fb;
border: 1px solid #9aa9f7;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCMenubarVItemPressed {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKElEQVR42mN48uIv099//5n+/WNA4P8MTP+wijEg1P5nQJX/9x9ZDACh4TCeGKQe2gAAAABJRU5ErkJggg==') repeat-x top #b6c1fa;
border: 1px solid #9aa9f7;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCMenubarVItemDisabled {
color: #8c8c8c;
}
.HRCMenubarVSeparator {
font-size: 0px;
border-style: none;
border-top: 1px solid #ccd0e4;
border-bottom: 1px solid White;
padding: 0px;
}
.HRCMenubarVItemCascade {
background: url('MenubarVCascade.png') no-repeat right;
padding-right: 10px;
}
.HRCMenubarVItemHover .HRCMenubarVItemCascade {
background-image: url('MenubarVCascadeHover.png');
}
.HRCMenubarVItemPressed .HRCMenubarVItemCascade {
background-image: url('MenubarVCascadePressed.png');
}
.HRCMenubarVItemDisabled .HRCMenubarVItemCascade {
background-image: url('MenubarVCascadeDisabled.png');
}
.HRCWin {
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAIAAADITs03AAAAUElEQVR42oWQMQ7AIAwDT/7/L6vu/cF1gKGUAFPkOJZP4bqfqFECRO2TQNsLQSL2SdD4u6PULvJND707b9FVMc35manOH7yP3jGNf3ORL5lePQeL9nM33d4AAAAASUVORK5CYII=') repeat-x top #aab1d2;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #8892c1;
border-radius: 3px;
box-shadow: 0 0 6px #888;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-moz-box-shadow: 0 0 6px #888;
-webkit-box-shadow: 0 0 6px #888;
}
.HRCWinActive {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAIAAADITs03AAAAU0lEQVR42pWPwQ2AQAgEJ/TfmR+LsI/14RI5lER/w3Dhdtn2IyQFEEBImFW4eQg8X6zCg/dOvnFzerU3+e+/bOuc/ObL3SW3Woehs/s9u03+U7YTzApU9EHTzV8AAAAASUVORK5CYII=') repeat-x top #aab1d2;
border-color: #717cb4;
box-shadow: 0 0 8px #333;
-moz-box-shadow: 0 0 8px #333;
-webkit-box-shadow: 0 0 8px #333;
}
.HRCWinAdjust {
}
.HRCWinInner {
border: 1px solid #eaecf4;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCWinTitle {
font-weight: bold;
padding: 2px 4px;
cursor: move;
}
.HRCWinBodyContainer {
border: 1px solid #eaecf4;
margin: 3px;
}
.HRCWinTBar {
background-color: #f0f2f8;
border: 1px solid #8892c1;
border-bottom-style: none;
padding: 2px;
}
.HRCWinBody {
background-color: #ffffff;
border: 1px solid #8892c1;
padding: 2px;
overflow: auto;
}
.HRCWinButtons {
text-align: right;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAIAAADAusJtAAAAGElEQVR42mM4df4JExsbMxM7GzMTOxsLACQeArQ0E3G1AAAAAElFTkSuQmCC') repeat-x top #e3e6f1;
border: 1px solid #8892c1;
border-top-style: none;
padding: 2px 4px;
}
.HRCWinBBar {
background-color: #f0f2f8;
border: 1px solid #8892c1;
border-top-style: none;
padding: 2px;
}
.HRCWinHeader {
padding: 2px 4px;
}
.HRCWinFooter {
padding: 2px 4px;
}
.HRCWinActive .HRCWinInner {
border: 1px solid #fbfbfd;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCWinActive .HRCWinBodyContainer {
border-color: #fbfbfd;
}
.HRCWinActive .HRCWinTBar, .HRCWinActive .HRCWinBody, .HRCWinActive .HRCWinButtons, .HRCWinActive .HRCWinBBar {
border-color: #717cb4;
}
.HRCWinResizer {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAIAAAC3eAIWAAAAIElEQVR42mNYtfESEzMzExMLMxMTCwsThM0C4TOzMAEARY8Ce+NV/90AAAAASUVORK5CYII=') repeat-x bottom #aab1d2;
font-size: 1px;
cursor: s-resize;
height: 10px;
}
.HRCDDWin {
color: Black;
background-color: #eceef6;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #8892c1;
border-radius: 3px;
box-shadow: 3px 3px 6px #aaa;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-moz-box-shadow: 3px 3px 6px #aaa;
-webkit-box-shadow: 3px 3px 6px #aaa;
}
.HRCDDWinAdjust {
}
.HRCDDWinInner {
border: 1px solid White;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCDDWinTitle {
font-weight: bold;
padding: 2px 4px;
cursor: move;
}
.HRCDDWinHeader {
padding: 2px 4px;
}
.HRCDDWinBody {
background: repeat-x top #ffffff;
font: 10pt Calibri, Tahoma, Arial;
padding: 2px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.HRCDDWinButtons {
text-align: right;
border-top: 1px solid #b1b7d5;
padding: 2px 4px;
}
.HRCDDWinFooter {
padding: 2px 4px;
}
.HRCDDWinResizer {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAIAAAC3eAIWAAAAGUlEQVR42mN48/Yr05+//5j+QjGE/R/GBgB37xejEOC7JAAAAABJRU5ErkJggg==') repeat-x top #d1d5e7;
font-size: 1px;
border-top: 1px solid #b1b7d5;
cursor: s-resize;
height: 10px;
}
.HRCDDWinBBar {
padding: 2px 4px;
}
.HRCDDWinTBar {
border-bottom: 1px solid #b1b7d5;
padding: 2px 4px;
}
.HRCAccordion {
}
.HRCAccordionButton {
text-decoration: none;
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px solid #8892c1;
padding: 2px 4px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
outline: none;
}
.HRCAccordionButton:hover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42m3KIQ4AIACAQMb/36vBgEFtptsYjLmsLIQnVleMJAykrqf/fmgDbmMh9Hho+HwAAAAASUVORK5CYII=') repeat-x top #e9ebf4;
}
.HRCAccordionButtonSelected {
text-decoration: none;
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKklEQVR42k2LMQoAMAyE5P7/4pZih0CSTRE590WNEjXAOAZpVsJq5cPr/+5SK/Qo/o1QAAAAAElFTkSuQmCC') repeat-x top #e9ebf4;
border: 1px solid #8892c1;
border-bottom-color: #ccd0e4;
padding: 2px 4px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.HRCAccordionButtonSelected:hover {
}
.HRCAccordionButtonDisabled {
text-decoration: none;
color: #606dac;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px solid #8892c1;
padding: 2px 4px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
outline: none;
}
.HRCAccordionButtonDisabled:hover {
}
.HRCAccordionPane {
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-top-style: none;
padding: 2px;
margin-top: -2px;
margin-bottom: 2px;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
}
.HRCTabTContainer {
}
.HRCTabTBand {
}
.HRCTabTButton {
text-decoration: none;
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px solid #b1b7d5;
border-bottom-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
border-radius: 6px 6px 0px 0px;
-moz-border-radius: 6px 6px 0px 0px;
-webkit-border-radius: 6px 6px 0px 0px;
outline: none;
}
.HRCTabTButton:hover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42m3KIQ4AIACAQMb/36vBgEFtptsYjLmsLIQnVleMJAykrqf/fmgDbmMh9Hho+HwAAAAASUVORK5CYII=') repeat-x top #e9ebf4;
border-color: #8892c1;
}
.HRCTabTButtonSelected {
text-decoration: none;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-bottom-style: none;
padding: 2px 4px;
padding-bottom: 3px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
position: relative;
border-radius: 6px 6px 0px 0px;
-moz-border-radius: 6px 6px 0px 0px;
-webkit-border-radius: 6px 6px 0px 0px;
outline: none;
}
.HRCTabTButtonSelected:hover {
}
.HRCTabTButtonDisabled {
text-decoration: none;
color: #606dac;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px solid #b1b7d5;
border-bottom-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.HRCTabTButtonDisabled:hover {
}
.HRCTabTPanes {
}
.HRCTabTPane {
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
padding: 2px;
}
.HRCTabBContainer {
}
.HRCTabBBand {
}
.HRCTabBButton {
text-decoration: none;
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42mO4cfs1EyMjAxMjIyMTIyMjExMjAxMjExIbJs6EYKPz4eqY4GwA8zoDC/pzSwYAAAAASUVORK5CYII=') repeat-x bottom #d8dbec;
border: 1px solid #b1b7d5;
border-top-color: #8892c1;
padding: 2px 4px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.HRCTabBButton:hover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALUlEQVR42m3KMQoAIACAQPX/H43GPtBQNDUJh4y5AlICb0l9LoYkhN4e//3gBvrcAw5xb121AAAAAElFTkSuQmCC') repeat-x bottom #e9ebf4;
border-color: #8892c1;
}
.HRCTabBButtonSelected {
text-decoration: none;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-top-style: none;
padding: 2px 4px;
padding-top: 3px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.HRCTabBButtonSelected:hover {
}
.HRCTabBButtonDisabled {
text-decoration: none;
color: #606dac;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42mO4cfs1EyMjAxMjIyMTIyMjExMjAxMjExIbJs6EYKPz4eqY4GwA8zoDC/pzSwYAAAAASUVORK5CYII=') repeat-x bottom #d8dbec;
border: 1px solid #b1b7d5;
border-top-color: #8892c1;
padding: 2px 4px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.HRCTabBButtonDisabled:hover {
}
.HRCTabBPanes {
}
.HRCTabBPane {
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
padding: 2px;
}
.HRCTabLContainer {
}
.HRCTabLBand {
}
.HRCTabLButton {
text-decoration: none;
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px solid #b1b7d5;
padding: 2px;
margin-right: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px 0px 0px 2px;
-moz-border-radius: 2px 0px 0px 2px;
-webkit-border-radius: 2px 0px 0px 2px;
outline: none;
}
.HRCTabLButton:hover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42m3KIQ4AIACAQMb/36vBgEFtptsYjLmsLIQnVleMJAykrqf/fmgDbmMh9Hho+HwAAAAASUVORK5CYII=') repeat-x top #e9ebf4;
border-color: #8892c1;
}
.HRCTabLButtonSelected {
text-decoration: none;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-right-style: none;
padding: 2px;
padding-right: 3px;
margin-right: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 2px 0px 0px 2px;
-moz-border-radius: 2px 0px 0px 2px;
-webkit-border-radius: 2px 0px 0px 2px;
outline: none;
}
.HRCTabLButtonSelected:hover {
}
.HRCTabLButtonDisabled {
text-decoration: none;
color: #606dac;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px solid #b1b7d5;
padding: 2px;
margin-right: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px 0px 0px 2px;
-moz-border-radius: 2px 0px 0px 2px;
-webkit-border-radius: 2px 0px 0px 2px;
outline: none;
}
.HRCTabLButtonDisabled:hover {
}
.HRCTabLPanes {
}
.HRCTabLPane {
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
padding: 2px;
}
.HRCTabRContainer {
}
.HRCTabRBand {
}
.HRCTabRButton {
text-decoration: none;
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px solid #b1b7d5;
border-left-style: none;
padding: 2px;
margin-left: 0px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 0px 2px 2px 0px;
-moz-border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
outline: none;
}
.HRCTabRButton:hover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42m3KIQ4AIACAQMb/36vBgEFtptsYjLmsLIQnVleMJAykrqf/fmgDbmMh9Hho+HwAAAAASUVORK5CYII=') repeat-x top #e9ebf4;
border-color: #8892c1;
}
.HRCTabRButtonSelected {
text-decoration: none;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-left-style: none;
padding: 2px;
padding-left: 3px;
margin-left: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 2px 2px 0px;
-moz-border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
outline: none;
}
.HRCTabRButtonSelected:hover {
}
.HRCTabRButtonDisabled {
text-decoration: none;
color: #606dac;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px solid #b1b7d5;
border-left-style: none;
padding: 2px;
margin-left: 0px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 0px 2px 2px 0px;
-moz-border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
outline: none;
}
.HRCTabRButtonDisabled:hover {
}
.HRCTabRPanes {
}
.HRCTabRPane {
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
padding: 2px;
}
.HRCTabbandT {
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px solid #8892c1;
padding: 0px;
}
.HRCTabbandTButton {
text-decoration: none;
white-space: nowrap;
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px solid #b1b7d5;
border-bottom-style: none;
padding: 2px 4px;
margin-top: 2px;
margin-right: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 6px 6px 0px 0px;
-moz-border-radius: 6px 6px 0px 0px;
-webkit-border-radius: 6px 6px 0px 0px;
outline: none;
}
.HRCTabbandTButton:hover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42m3KIQ4AIACAQMb/36vBgEFtptsYjLmsLIQnVleMJAykrqf/fmgDbmMh9Hho+HwAAAAASUVORK5CYII=') repeat-x top #e9ebf4;
border-color: #8892c1;
}
.HRCTabbandTButtonSelected {
text-decoration: none;
white-space: nowrap;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-bottom-style: none;
padding: 2px 4px;
padding-bottom: 3px;
margin-top: 2px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
cursor: default;
position: relative;
border-radius: 6px 6px 0px 0px;
-moz-border-radius: 6px 6px 0px 0px;
-webkit-border-radius: 6px 6px 0px 0px;
outline: none;
}
.HRCTabbandTButtonSelected:hover {
}
.HRCTabbandTButtonDisabled {
text-decoration: none;
white-space: nowrap;
color: #606dac;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAAKUlEQVR42nXKIQ4AMAwDsSr/f+8GJt2VhowZeM59AaMGJ7Y1UtZA+f8XSUo6zWL4K0YAAAAASUVORK5CYII=') repeat-x top #d9dced;
border: 1px solid #b1b7d5;
border-bottom-style: none;
padding: 2px 4px;
margin-top: 2px;
margin-right: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 6px 6px 0px 0px;
-moz-border-radius: 6px 6px 0px 0px;
-webkit-border-radius: 6px 6px 0px 0px;
outline: none;
}
.HRCTabbandTButtonDisabled:hover {
}
.HRCTabbandTLScroll {
text-decoration: none;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-left-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 0px 2px 0px 0px;
-moz-border-radius: 0px 2px 0px 0px;
-webkit-border-radius: 0px 2px 0px 0px;
outline: none;
}
.HRCTabbandTLScroll:hover {
}
.HRCTabbandTLScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-left-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 0px 2px 0px 0px;
-moz-border-radius: 0px 2px 0px 0px;
-webkit-border-radius: 0px 2px 0px 0px;
outline: none;
}
.HRCTabbandTLScrollDisabled:hover {
}
.HRCTabbandTRScroll {
text-decoration: none;
color: Black;
background-color: #f0f2f8;
border: 1px solid #8892c1;
border-right-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 2px 0px 0px 0px;
-moz-border-radius: 2px 0px 0px 0px;
-webkit-border-radius: 2px 0px 0px 0px;
outline: none;
}
.HRCTabbandTRScroll:hover {
}
.HRCTabbandTRScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-right-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 2px 0px 0px 0px;
-moz-border-radius: 2px 0px 0px 0px;
-webkit-border-radius: 2px 0px 0px 0px;
outline: none;
}
.HRCTabbandTRScrollDisabled:hover {
}
.HRCTabbandTSeparator {
background-color: #fbfbfd;
font: 0pt arial;
border-top: 1px solid #8892c1;
padding: 0px;
height: 3px;
}
.HRCTabbandB {
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42mO4cfs1EyMjAxMjIyMTIyMjExMjAxMjExIbJs6EYKPz4eqY4GwA8zoDC/pzSwYAAAAASUVORK5CYII=') repeat-x bottom #d8dbec;
border: 1px solid #8892c1;
border-bottom-style: solid;
padding: 0px;
}
.HRCTabbandBButton {
text-decoration: none;
white-space: nowrap;
color: Black;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42mO4cfs1EyMjAxMjIyMTIyMjExMjAxMjExIbJs6EYKPz4eqY4GwA8zoDC/pzSwYAAAAASUVORK5CYII=') repeat-x bottom #d8dbec;
border: 1px solid #b1b7d5;
border-top-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.HRCTabbandBButton:hover {
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALUlEQVR42m3KMQoAIACAQPX/H43GPtBQNDUJh4y5AlICb0l9LoYkhN4e//3gBvrcAw5xb121AAAAAElFTkSuQmCC') repeat-x bottom #e9ebf4;
border-color: #8892c1;
}
.HRCTabbandBButtonSelected {
text-decoration: none;
white-space: nowrap;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-top-style: none;
padding: 2px 4px;
padding-top: 3px;
margin-top: -1px;
margin-right: 2px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.HRCTabbandBButtonSelected:hover {
}
.HRCTabbandBButtonDisabled {
text-decoration: none;
white-space: nowrap;
color: #606dac;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAIAAACOpGH9AAAALElEQVR42mO4cfs1EyMjAxMjIyMTIyMjExMjAxMjExIbJs6EYKPz4eqY4GwA8zoDC/pzSwYAAAAASUVORK5CYII=') repeat-x bottom #d8dbec;
border: 1px solid #b1b7d5;
border-top-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.HRCTabbandBButtonDisabled:hover {
}
.HRCTabbandBLScroll {
text-decoration: none;
color: Black;
background-color: #f0f2f8;
border: 1px solid #8892c1;
border-top-style: none;
border-left-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 2px 0px;
-moz-border-radius: 0px 0px 2px 0px;
-webkit-border-radius: 0px 0px 2px 0px;
outline: none;
}
.HRCTabbandBLScroll:hover {
}
.HRCTabbandBLScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-top-style: none;
border-left-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 2px 0px;
-moz-border-radius: 0px 0px 2px 0px;
-webkit-border-radius: 0px 0px 2px 0px;
outline: none;
}
.HRCTabbandBLScrollDisabled:hover {
}
.HRCTabbandBRScroll {
text-decoration: none;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-top-style: none;
border-right-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 0px 2px;
-moz-border-radius: 0px 0px 0px 2px;
-webkit-border-radius: 0px 0px 0px 2px;
outline: none;
}
.HRCTabbandBRScroll:hover {
}
.HRCTabbandBRScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fbfbfd;
border: 1px solid #8892c1;
border-top-style: none;
border-right-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 0px 2px;
-moz-border-radius: 0px 0px 0px 2px;
-webkit-border-radius: 0px 0px 0px 2px;
outline: none;
}
.HRCTabbandBRScrollDisabled:hover {
}
.HRCTabbandBSeparator {
background-color: #fbfbfd;
font: 0pt arial;
border-bottom: 1px solid #8892c1;
padding: 0px;
height: 3px;
}
/* fix to help with firefox button padding */
button::-moz-focus-inner {
border-width: 0;
padding: 0;
}
.HRCWinButtons .HRCButton {
}
.HRCWinButtons .HRCButtonHover {
}
.HRCWinButtons .HRCButtonPressed {
}
.HRCWinButtons .HRCButtonDisabled {
}
